// general rules

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d_flex {
    display: flex;
}

.jc_center {
    justify-content: center;
}

.ai_center {
    align-items: center;
}

.f_wrap {
    flex-wrap: wrap;
}

.f_basis {
    flex-basis: 25%;
}

// variables

$bg1:#52796f;
$bg2:#84a98c;

// scss

html {
    text-align: center;
}

header,
footer {
    height: 100px;
    background-color: $bg1;
    line-height: 100px;

    li {
        margin: 0 20px;
        list-style: none;

        a {
            text-decoration: none;
            color: black;
            position: relative;

            &:hover {
                color: white;
            }
        }
    }
}

main {
    min-height: calc(100vh - 200px);
    background-color: $bg2;

    h1 {
        padding-top: 20px;
    }

    section {
        max-width: 90%;
        margin: 50px auto;

        div {
            margin: 30px;
            padding: 10px;
            border: 1px solid $bg1;
        }

        li {
            list-style: none;
        }
    }
}